@use 'variables' as v;

/* CONTENTS
This file will contain site-wide styles.


*/


body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    outline: none;

    &:focus{
        outline: v.$c_logo_main dotted 2px;
    }
}


