@use 'variables' as v;

$breakpoint_2_columns: 725px;
$breakpoint_3_columns: 1125px;

.project-tile-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2.8rem 7rem;

    box-sizing: border-box;
    width: 96%;
    max-width: 1440px;
    margin-top: 3rem;

    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;

    position: relative;
    z-index: 2;

    article{
        box-sizing: border-box;
        width: 18rem;
        max-width: 100%;

        padding: 0.5rem 0.8rem 0.5rem;

        border: 1px solid v.$c_grey_underlines;
        box-shadow: 0 0 8px 8px rgba(black, 20%);

        background: rgba(white, 5%);
    }


    h2{
        font-weight: normal;
        margin: 0;

        padding-bottom: 0.2rem;
        border-bottom: 1px solid v.$c_accent_2;
    }

    p{
        margin: 0.6rem 0 0 0;
    }

    .screenie-links{
        width: 292px;
        box-sizing: border-box;
        max-width: 100%;

        img{
            width: 260px;
            border: 1px solid #777;
            margin: 0 auto 0.3rem;
        }

        a{
            color: white;
            border-bottom: 2px solid transparent;
            padding: 0.2rem;
    
            &::before{
                content: "[";
                display: inline-block;
                padding-right: 0.3rem;
            }
    
            &::after{
                content: " ]";
                display: inline-block;
                padding-left: 0.3rem;
            }
    
            &:hover, &:focus{
                background: rgba(white, 10%);
                border-color: v.$c_core_dark;
            }
    
            &.code-link{
                float: left;
            }
            &.live-link{
                float: right;
            }
        }
    }

    .tech-icon-strip{
        box-sizing: border-box;
        width: 100%;
        padding: 1rem 0 0.3rem;

        img{
            width: 29px;
            border: none;
        }

        .minor{
            float: right;
            font-family: Archi;

            &::before{
                display: inline-block;
                content: "(and a smidgeon of";
                height: 100%;
                position: relative;
                bottom: 8px;
        
                padding-right: 0.3rem;
                font-size: 0.9rem;
            }
            &::after{
                display: inline-block;
                content: ")";
                position: relative;
                bottom: 8px;
        
                font-size: 0.9rem;
            }
        }
    }
}

.decorative-container{
    display: flex;
    justify-content: center;

    width: 100%;
}



/*
    Desired behaviour: the entire group of project cards should be centered; cards in an incomplete row should be aligned left.
    "space-evenly" centres, but too much: it centres the cards on the incomplete row as well.
    "flex-start" aligns left, but too much: the group of cards is also aligned left.
    Conclusion: flex-start, then use media queries to control the width of the flex ele; parent container will centre the group.
*/
@media screen and(min-width: $breakpoint_2_columns){
    .project-tile-container{
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;

        width: 43rem;
    }
}

@media screen and(min-width: $breakpoint_3_columns){
    .project-tile-container{
        width: 68rem;
    }
}

// Add a decorative image on wider screens, to fill some of that gaping empty space
@media screen and (min-width: v.$breakpoint_wide_screen){

    .whole-page-container{
        display: flex;
        align-content: stretch; // This sets the height of the decorative-background-layer
        padding-bottom: 0;  // Remove the padding from here so there isn't a gradient-less strip at the bottom

        .decorative-background-layer{
            padding-bottom: 2rem;   // Add the padding to here so the page doesn't end dead-on the bottom of the last element
            width: 100%;
            background: radial-gradient(circle at 340px 630px,rgb(76, 117, 117) 1%, rgb(33, 73, 73) 5%, transparent 40%);
        }
    }

    div.decorative-pic{
        position: absolute;

        top: 305px;
        left: 10px;

        height: 660px;
        width: 660px;

        opacity: 45%;

        background: url("../images/arcane-circle.png");
        background-size: contain;
        background-repeat: no-repeat;
    } 
  
    .project-tile-container{
        gap: 5rem 7rem;
        margin-top: 5rem;

        article{
            background: rgba(v.$c_background, 90%);
        }
    }
}






