

$c_core_dark: #98ffff; // in use



$c_background: #303030;
$g_background: linear-gradient(135deg, #404040 0%, #303030 5%, #202020 95%, #101010 100%);

$c_grey_lines: #707070;
$c_outer_beam: #1d8383;

$c_accent_1: #2DCFCF; //#00E0FF;
$c_accent_2: #689494;//#808080;//#258888;



$breakpoint_wide_screen: 900px;
$breakpoint_wide_screen_ends: 1921px;

